{% extends "index.html" %}

{% block head %}
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.0/chart.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static', filename='css/graph.css')}}" media="screen">
<script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-heatmap.min.js"></script>
<style>
  /* html, body, #container {
    width: 80%;
    height: 60%;
    margin: 0;
    padding: 0;
  } */

  #container1, #container2 {
    width: 50%;
    height: 30%;
    /* margin: 0; */
    padding: 0;
    margin:0 auto;
  }
</style>
{% endblock %}
    
    



{% block contents %}


    <section class="u-clearfix u-section-1" id="sec-47db">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-custom-font u-font-montserrat u-text u-text-default u-text-1">[오늘의 기록 : n월 n일 ]</h2>
        
        <img class="u-image u-image-1" src="{{ url_for('static', filename='img/face.png')}}" data-image-width="832" data-image-height="594">
      </div>
    </section>
    <section class="u-align-left u-clearfix u-section-2" id="sec-5006">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-custom-color-1 u-text-default u-text-1">증​ 상</h1>
        <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-26 u-layout-cell-1">
                <div class="u-container-layout u-valign-top u-container-layout-1">
                  <h6 class="u-custom-font u-font-montserrat u-text u-text-2">
                    <span style="font-size: 1.875rem;">트러블 </span>:&nbsp;
                  </h6>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-34 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <h6 class="u-custom-font u-font-montserrat u-text u-text-3">여드름</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h1 class="u-text u-text-custom-color-1 u-text-default u-text-4">원 인</h1>
        <div class="u-container-style u-group u-shape-rectangle u-group-1">
          <div class="u-container-layout u-container-layout-3">
            <p class="u-text u-text-default u-text-5">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
          </div>
        </div>
        <div class="u-clearfix u-layout-wrap u-layout-wrap-2">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-26 u-layout-cell-3">
                <div class="u-container-layout u-valign-top u-container-layout-4">
                  <h6 class="u-custom-font u-font-montserrat u-text u-text-6">
                    <span style="font-size: 1.875rem;">트러블 </span>:&nbsp;
                  </h6>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-34 u-layout-cell-4">
                <div class="u-container-layout u-container-layout-5">
                  <h6 class="u-custom-font u-font-montserrat u-text u-text-7">여드름</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h1 class="u-text u-text-custom-color-1 u-text-default u-text-8">주의사항</h1>
        <div class="u-container-style u-group u-shape-rectangle u-group-2">
          <div class="u-container-layout u-container-layout-6">
            <p class="u-text u-text-default u-text-9">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
          </div>
        </div>
        <div class="u-clearfix u-layout-wrap u-layout-wrap-3">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-26 u-layout-cell-5">
                <div class="u-container-layout u-valign-top u-container-layout-7">
                  <h6 class="u-custom-font u-font-montserrat u-text u-text-10">
                    <span style="font-size: 1.875rem;">트러블 </span>:&nbsp;
                  </h6>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-34 u-layout-cell-6">
                <div class="u-container-layout u-container-layout-8">
                  <h6 class="u-custom-font u-font-montserrat u-text u-text-11">여드름</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="u-container-style u-group u-shape-rectangle u-group-3">
          <div class="u-container-layout u-container-layout-9">
            <p class="u-text u-text-default u-text-12">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-left u-clearfix u-section-3" id="sec-13ed">
      <div class ="container">
        <div class="row">
            <div class="'col-md-6"style="width:47%;">
                <canvas id="myChartOne"></canvas>
            </div>
            <div class="'col-md-6" style="width:53%;">
                <canvas id="myChartTwo"></canvas>
            </div>
        </div>
    </div>
<script>
    let myChartOne = document.getElementById('myChartOne').getContext('2d');
    let myChartTwo = document.getElementById('myChartTwo').getContext('2d');


<!-- 1주일 bar 그래프-->
    let barChart= new Chart(myChartOne, {
        type : 'bar',
        data:{
            labels:{{ day2 | tojson }},
            datasets : [{
                label : 'papule',
                data : {{ value2 | tojson}},
                backgroundColor:'rgba(206,29,22,.5)',
                borderWidth:1,
                borderColor: "red",
                hoverBackgroundColor:"red"
            }
            ,
            {
                label : 'pustula',
                data : {{ value3 | tojson }},
                backgroundColor:'rgba(40,161,130,.5)',
                borderWidth:1,
                borderColor: "green",
                hoverBackgroundColor:"green"
            }]
        }
    });

<!--1달 line 그래프-->
    let barChartTwo= new Chart(myChartTwo,{
        type : 'line',
        data:{
            labels:{{ day4 | tojson }},
            datasets : [{
                label : 'papule',
                data : {{ value4 | tojson}},
                borderWidth:2,
                borderColor: "rgba(206,29,22,.5)",
                hoverBackgroundColor:"red",
                fill: false,


            },
            {
                label : 'pustula',
                data : {{ value5 | tojson}},
                borderWidth:2,
                borderColor: "rgba(40,161,130,.5)",
                hoverBackgroundColor:"green",
                fill: false,

            }]
        }
    });
</script>
    </section>
    <h2 align='center'>[한달 기록]</h2>
    <div id="container1" ></div>
    <div id="container2"></div>
    <script>
      anychart.onDocumentReady(function () {
        // create the data 
        var data = [
          { x: "1", y: "1", heat: 0},
          { x: "1", y: "2", heat: 0},
          { x: "1", y: "3", heat: 0 },
        
          { x: "2", y: "1", heat:0 },
          { x: "2", y: "2", heat: 0 },
          { x: "2", y: "3", heat: 0},
          
          { x: "3", y: "1", heat: 0 },
          { x: "3", y: "2", heat:0},
          { x: "3", y: "3", heat: 0 },
      
          { x: "4", y: "1", heat: 0 },
          { x: "4", y: "2", heat: 0 },
          { x: "4", y: "3", heat: 0 },
       
          { x: "5", y: "1", heat: 0 },
          { x: "5", y: "2", heat: 1 },
          { x: "5", y: "3", heat: 0 },
       
          { x: "6", y: "1", heat: 0 },
          { x: "6", y: "2", heat: 0 },
          { x: "6", y: "3", heat: 0 },
       
        
          { x: "7", y: "1", heat: 0 },
          { x: "7", y: "2", heat: 0 },
          { x: "7", y: "3", heat: 0 },
         
          { x: "8", y: "1", heat: 0 },
          { x: "8", y: "2", heat: 0 },
          { x: "8", y: "3", heat: 0 },

          { x: "9", y: "1", heat: 0 },
          { x: "9", y: "2", heat: 1 },
          { x: "9", y: "3", heat: 0 },

          { x: "10", y: "1", heat: 0},
          { x: "10", y: "2", heat: 0 },
          { x: "10", y: "3", heat: 0 },
        ];        
        
        // create the chart and set the data
        chart = anychart.heatMap(data);
        
        // set the chart title
        chart.title("기미 한달 기록");
        
        // create and configure the color scale.
        var customColorScale = anychart.scales.linearColor();
        customColorScale.colors(["gray", "skyblue"]);
        
        // set the color scale as the color scale of the chart
        chart.colorScale(customColorScale);
        
        // set the container id
        chart.container("container1");
        
        // initiate drawing the chart
        chart.draw();
        // hide number
        chart.labels().enabled(false)
        
        var xlabels = chart.xAxis().labels();
        xlabels.enabled(false);

        var ylabels = chart.yAxis().labels();
        ylabels.enabled(false);
       

        var customColorScale = anychart.scales.ordinalColor();
        customColorScale.ranges([
          { less: 0.5, name: '없음', color: '#E6E6E6' },
          { greater: 0.55, name: '있음', color: '#C6E476' }
        ]);

        customColorScale.colors(["#E6E6E6", "#C6E476"]);

          // set the color scale as the color scale of the chart
          chart.colorScale(customColorScale);
          
          // enable the legend
          chart.legend(true);
  
        var categoryNames = ["없음", "있음"]

        var tooltip = chart.tooltip();
        tooltip.fontWeight(600);
        tooltip.positionMode("point");        
        tooltip.format(function () {
          if (this.heat <= 0.5) {
            return ("Value: " + this.heat + "\n Category: " + categoryNames[0]);
          }
          if (this.heat >= 0.55) {
            return ("Value: " + this.heat + "\n Category: " + categoryNames[1]);
          }
        });
        
      });


      anychart.onDocumentReady(function () {

        // create the data 
        var data = [
          { x: "1", y: "1", heat:  1 },
          { x: "1", y: "2", heat: 1},
          { x: "1", y: "3", heat: 1 },
        
          { x: "2", y: "1", heat: 0 },
          { x: "2", y: "2", heat: 0 },
          { x: "2", y: "3", heat: 1},
          
          { x: "3", y: "1", heat: 1 },
          { x: "3", y: "2", heat: 1},
          { x: "3", y: "3", heat: 1 },
        
          { x: "4", y: "1", heat: 1 },
          { x: "4", y: "2", heat: 0},
          { x: "4", y: "3", heat: 1 },
       
          { x: "5", y: "1", heat: 1 },
          { x: "5", y: "2", heat: 1 },
          { x: "5", y: "3", heat: 0 },
       
          { x: "6", y: "1", heat: 0},
          { x: "6", y: "2", heat: 1 },
          { x: "6", y: "3", heat: 1 },
       
        
          { x: "7", y: "1", heat: 0 },
          { x: "7", y: "2", heat: 0 },
          { x: "7", y: "3", heat: 0},
         
          { x: "8", y: "1", heat: 1 },
          { x: "8", y: "2", heat: 1 },
          { x: "8", y: "3", heat: 1 },

          { x: "9", y: "1", heat: 1},
          { x: "9", y: "2", heat: 0 },
          { x: "9", y: "3", heat: 1 },

          { x: "10", y: "1", heat: 0},
          { x: "10", y: "2", heat: 1 },
          { x: "10", y: "3", heat: 1 },
        ];        
        
        // create the chart and set the data
        chart = anychart.heatMap(data);
        
        // set the chart title
        chart.title("다크서클 한달 기록");
        

        // create and configure the color scale.
        var customColorScale = anychart.scales.linearColor();
        customColorScale.colors(["#E6E6E6", "#58ACFA"]);
        
        // set the color scale as the color scale of the chart
        chart.colorScale(customColorScale);
        
        // set the container id
        chart.container("container2");
        
        // initiate drawing the chart
        chart.draw();
        // hide number
        chart.labels().enabled(false)
        
        var xlabels = chart.xAxis().labels();
        xlabels.enabled(false);

        var ylabels = chart.yAxis().labels();
        ylabels.enabled(false);
       

        var customColorScale = anychart.scales.ordinalColor();
        customColorScale.ranges([
          { less: 0.5, name: '없음', color: '#E6E6E6' },
          { greater: 0.55, name: '있음', color: '#90DEF7' }
        ]);

        customColorScale.colors(["#E6E6E6", "#90DEF7"]);

          // set the color scale as the color scale of the chart
          chart.colorScale(customColorScale);
          
          // enable the legend
          chart.legend(true);
  
        var categoryNames = ["없음", "있음"]

        var tooltip = chart.tooltip();
        tooltip.fontWeight(600);
        tooltip.positionMode("point");        
        tooltip.format(function () {
          if (this.heat <= 0.5) {
            return ("Value: " + this.heat + "\n Category: " + categoryNames[0]);
          }
          if (this.heat >= 0.55) {
            return ("Value: " + this.heat + "\n Category: " + categoryNames[1]);
          }
        });
        
      });
    </script>

{% endblock contents %}   
