{% extends "index.html" %}
{% block head %} 
<style>
table {
	    width:70%; 
	        margin-left:10%; 
		    margin-right:10%;
}
</style>
{% endblock head %}
{% block contents %}



<h1 align='center' style="font-size: 500%;margin-bottom: 0px;margin-top: 50px;"> 오늘의 제품 추천 </h1>

    <div style="position: relative; top: 160px; left: 120px;float:left;z-index:100;"><img src = "{{url_for('static',filename='images/1등.png')}}" width="80"></img>
	        </div>
		    <div style="position: relative; top: 160px; or('static',filename='images/3등.png')}}" width="80"></img>
			        </div>

				    <table category1 >
					      <!-- <tr align="center" style="border-bottom: 700px;">
		       <td colspan='1'style="border-bottom: 700px;font-size:larger;color:white;background-color:black;">스킨/토너</td>
		         </tr> -->

			   <tr align="center" style="border-bottom: 700px;">
				       <td colspan='1'style="border-bottom: 700px;font-size:larger;color:white;">
					               <p><span style="border-radius: 15px 15px 15px 15px; border: 3px solid; padding: 0.2em 0.2em;background-color: black;border-color: black;">&nbsp;&nbsp;스킨/토너&nbsp&nbsp;</span></p>
						           </td>
							     </tr>

							         <tr>
									         {% for i in cate1 %}
										         <td><img src = {{i[0]}} width="200"></td>
											         {% endfor %}
												     </tr>

												         <tr>
														         {% for i in cate1 %}
															         <td><center>{{ i[1] }} </center></td>
																         {% endfor %}
																	     </tr>

																	         <tr>
																			         {% for i in cate1 %}
																				         <td><center>{{ i[2] }} </center></td>
																					         {% endfor %}
																						     </tr>

																						         <tr>
																								         {% for i in cate1 %}
																									         <td><center>{{ i[3] }} 원 </center></td>
																										         {% endfor %}
																											     
																											     </tr>
				    </table>


				    <div style="position: relative; top: 160px; left: 120px;float:left;z-index:100;"><img src = "{{url_for('static',filename='images/1등.png')}}" width="80"></img>
				    </div>
				    <div style="position: relative; top: 160px; left: 100px;float:left;margin-left:150px;z-index:100;"><img src = "{{url_for('static',filename='images/2등.png')}}" width="80"></img>
				    </div>
				    <div style="position: relative; top: 160px; left: 100px;float:left;margin-left:120px;"><img src = "{{url_for('static',filename='images/3등.png')}}" width="80"></img>
				    </div>

				    <table category2>

					        <tr align="center" style="border-bottom: 700px;">
							        <td colspan='1'style="border-bottom: 700px;font-size:larger;color:white;">
									            <p><span style="border-radius: 15px 15px 15px 15px; border: 3px solid; padding: 0.2em 0.2em;background-color: black;border-color: black;">&nbsp;&nbsp;로션/에멀젼&nbsp&nbsp;</span></p>
										            </td>
											          </tr>
												   
												          <tr>
														              {% for i in cate2 %}
															                  <td><img src = {{i[0]}} width="200"></td>
																	              {% endfor %}
																		              </tr>
																			          
																			              <tr>
																					                  {% for i in cate2 %}
																							              <td><center>{{ i[1] }} </center></td>
																								                  {% endfor %}
																										          </tr>
																											      
																											          <tr>
																													              {% for i in cate2 %}
																														                  <td><center>{{ i[2] }} </center></td>
																																              {% endfor %}
																																	              </tr>
																																		          
																																		              <tr>
																																				                  {% for i in cate2 %}
																																						              <td><center>{{ i[3] }} 원 </center></td>
																																							                  {% endfor %}
																																									          </tr>
																																										      </table>


																																										          <div style="position: relative; top: 160px; left: 120px;float:left;z-index:100;"><img src = "{{url_for('static',filename='images/1등.png')}}" width="80"></img>
																																												      </div>
																																												          <div style="position: relative; top: 160px; left: 100px;float:left;margin-left:150px;z-index:100;"><img src = "{{url_for('static',filename='images/2등.png')}}" width="80"></img>
																																														      </div>
																																														          <div style="position: relative; top: 160px; left: 100px;float:left;margin-left:120px;"><img src = "{{url_for('static',filename='images/3등.png')}}" width="80"></img>
																																																      </div>
																																																          
																																																          <table category3 style="margin-bottom: 100px;">
																																																		          <tr align="center" style="border-bottom: 700px;">
																																																				              <td colspan='1'style="border-bottom: 700px;font-size:larger;color:white;">
																																																						                      <p><span style="border-radius: 15px 15px 15px 15px; border: 3px solid; padding: 0.2em 0.2em;background-color: black;border-color: black;">&nbsp;&nbsp;에센스/세럼&nbsp&nbsp;</span></p>
																																																								                  </td>
																																																										            </tr>
																																																											                <tr>
																																																														                {% for i in cate3 %}
																																																																                <td><img src = {{i[0]}} width="200"></td>
																																																																		                {% endfor %}
																																																																				        
																																																																				            </tr>
																																																																					            
																																																																					                <tr>
																																																																								                {% for i in cate3 %}
																																																																										                <td><center>{{ i[1] }} </center></td>
																																																																												                {% endfor %}
																																																																														            </tr>
																																																																															            
																																																																															                <tr>
																																																																																		                {% for i in cate3 %}
																																																																																				                <td><center>{{ i[2] }} </center></td>
																																																																																						                {% endfor %}
																																																																																								            </tr>
																																																																																									            
																																																																																									                <tr>
																																																																																												                {% for i in cate3 %}
																																																																																														                <td><center>{{ i[3] }} 원 </center></td>
																																																																																																                {% endfor %}
																																																																																																		            
																																																																																																		            </tr>
																																																																																																			            </table>
																																																																																																				        
																																																																																																				        <div>
																																																																																																						    
																																																																																																					</div>

																																																																																																					{% endblock contents %}
